

//NET "led0" LOC = T9 | IOSTANDARD = SDIO;
//NET "led1" LOC = R9 | IOSTANDARD = SDIO;
//global system clock
NET "clk" 		LOC = A10 	| IOSTANDARD = LVTTL;


NET "U8_41" Loc = P4 | IOSTANDARD = SDIO;
NET "U8_43" Loc = P5 | IOSTANDARD = SDIO;
NET "U8_45" Loc = M7 | IOSTANDARD = SDIO;
NET "U8_47" Loc = N8 | IOSTANDARD = SDIO;

NET "U8_49" Loc = P9 | IOSTANDARD = SDIO;
NET "U8_51" Loc = T5 | IOSTANDARD = SDIO;
NET "U8_53" Loc = T6 | IOSTANDARD = SDIO;
NET "U8_54" Loc = N9 | IOSTANDARD = SDIO;

NET "U8_57" Loc = M10 | IOSTANDARD = SDIO;
NET "U8_59" Loc = P12 | IOSTANDARD = SDIO;
//61 Grd
//63  5V